/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/oMMgfZMQthOryQo9n22dcuvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* Set up defaults */
:root {
  --txtprimary: #616161;
  --txtsecondary: #a0a0a0;
  --bgaccent: #e0e0e0;
  --txtlink: #4040a0;
  --txtlinkhover: #000000;
}

html {  font-size: 18px;} /* sets all relative sizing */

body {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

/* COLOURS */
html {  color: var(--txtsecondary, lightgrey); }
h1, h2, h3 {  color: var(--txtprimary, dimgrey); }
a {  color: var(--txtlink, blue);}
.info_tile .link {  color: var(--txtlink, blue);}
.accent {  background-color: var(--bgaccent, lightgrey);}
#colmar {  color: black;}

.banner_button {
  background-color: var(--txtprimary, dimgrey);
  color: white;
}

/* FONTS */
h1, h2, h3, header .logo {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3 {
  display: block;
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2.0rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2.0rem;
  margin-top: 2.0rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  margin: 0.5rem 0;
}

a:hover {
  color: var(--txtlinkhover, darkblue);
  font-weight: 500;
}

header .logo {  font-size: 1.5rem;}
footer .txt {font-size: 0.9rem;}

.citation {
  margin-top: 2.0rem;
  font-size: 0.8rem;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 4rem;
  z-index: 5;
  position: fixed;
  width: 100%;
}

header .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1.5rem;
}

header img {
  height: 3rem;
}

/* NAV (Header & Footer) */
nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

nav ul li {
  padding-left: 1rem;
}

/* SECTION */
section {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

section.banner {
  margin-top: 4.0rem;
}

section.information {
  padding-bottom: 2.0rem;
}

section.learning {
  flex-flow: row wrap;
  padding: 2.0rem 4.5rem;
}

.figure {
  width: 60%;
  padding: 2.0rem 1.5rem;
}

.figure img, .figure video {
  max-width: 100%;
  height: auto;
}

.col2 {
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: flex-start;
  padding-left: 1.0rem;
  max-width: 40%;
}

.title {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title h2 {
  margin-bottom: 0;
}

/* BANNER */
section.banner .col2 {
  flex-flow: row;
  align-items: center;
}

.banner_text {
  display: block;
  width: 85%;
  padding: 0;
}

.banner_button {
  font-size: 1.25rem;
  margin-top: 2.0rem;
  padding: 1.0rem 0rem;
  text-align: center;
  width: 100%;
}

/* INFORMATION */
.info_tile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1.0rem;
  max-width: 100%;
}

.info_tile img {
  max-width: 35%;
  height: auto;
}

.info_tile .text_container {
  display: block;
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.0rem;
}

.tile_top {
  margin-top: 2.0rem;
}

.tile_image_top {
  margin-top: 1.0rem;
}

/*THESIS*/
section.thesis video {
  margin-bottom: 1.5rem;
}


/* LEARNING */
.learning_tile {
  margin: 1.0rem;
  display: flex;
  flex-flow: column nowrap;
  width: 30%;
  background-color: white;
}

.learning_tile img {
  width: 100%;
  height: auto;
}

.learning_tile .text_container {
  padding: 1rem 1rem 2rem 1rem;
}

/* COPYRIGHT */
footer {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 4rem;
  border-top: 1px solid lightgrey;
  max-width: 100%;
}

footer .notice {
  padding-left: 1.5rem;
}
